{% extends "template.html" %}


{% load static from staticfiles %}
<html>
<head>
	{% block head_components %}
   	{% endblock %}
</head>
{% block content %}
<body>
	<h3>Upload Essay</h3>
	<form class="horizontal-form" action="/webapp/submit_essay/" enctype="multipart/form-data" method="post">{%csrf_token%}
		{% for error in form.non_field_errors %}
			<div class="alert alert-danger">
	           Error: {{error}}
	        </div>
        {% endfor %}
        {% for field in form %}
        	{% if field.errors %}
			<div class="alert alert-danger">
            	{{field.errors}}
        	</div>
        	{% endif %}
			<div class="form-group">
				{{field.label}}
				{{field|linebreaks}}
			</div>
		{% endfor %}
		<div class="form-group">
			<input class="btn btn-primary" type="submit" value="Evaluate Essay" />
		</div>
	</form>

	{% if essay_grade %}
		<div class="alert alert-info">
			Essay Grade: {{essay_grade}} %
		</div>
		Essay:
		<pre>
			{{essay}}
		</pre>
		<br>
		<strong>Feedback:</strong>
		<div class="alert alert-info">
			Word Count: {{word_count}} <br>
			Stop Word Count: {{stop_word_count}} <br>
			Spelling Error Count: {{spelling_error_count}}
		</div>
		{% if spelling_error_count > 0 %}

			Spelling Errors:
			<div class="alert alert-info">
			{% for word in spelling_errors %}
				{{word|linebreaks}}
			{% endfor %}
			</div>
		{% endif %}
	{% endif %}
</body>
{% endblock %}
</html>
